# Example configuration file,
# for SDConfigFile/example/SDConfigExample.
# Before plugging in the Arduino power,
# place this file on a Micro SD card
# and insert the card into the Arduino SD card Shield.

# File format: <field>=<value>
# Fields for the example sketch:
#  hello = string to print in loop()
#  doDelay = delay waitMs in loop()
#  waitMs = time (milliseconds) to wait after printing hello

hello=Hello World!
doDelay=true
waitMs=1500
